@charset "UTF-8";

* {
	display: block;
	font-family: 'Courier New', Courier, monospace;
}

body {
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: white;
}

.header {
	float: left;
}

.logo {
	float: left;
	font-size: 250%;
	font-weight: 800;
}

.mainMenu {
	clear: right;
}

.mainMenu :only-of-type ul {
	float: left;
}

.menuUl {
	list-style: none;
	padding: 0%;
	margin: 0%;
}

.menuLi {
	list-style: none;
	padding: 15px;
	float: left;
}

.menuLi.homeButton {
	margin-left: 20%;
}

.rL {
	float: right;
	margin-right: 10px;
}

.banner {
	width: 100%;
	height: auto;
	clear: both;
}

.bannerImage {
	background: none;
	display: inline-block;
	height: 200px;
}

.content {
	width: 100%;
	height: auto;
	margin: 15px;
}

.box {
	width: 30%;
	height: 200px;
	margin: 1%;
	background-color: whitesmoke;
	color: black;
	float: left;
	text-align: center;
	viewport-fit: contain;
}

.footer {
	width: max-content;
	clear: both;
}

.footMenu {
	vertical-align: middle;
	padding: 0%;
	margin: 0%;
	display: inline-block;
}

.parentFooter {
	padding: 0%;
	margin: 0%;
}

.childFooter {
	padding: 0%;
	margin: 0%;
}

.footerLi {
	margin: 11.2px;
	padding: 11.2px;
}

.slogan {
	border: 1px solid white;
	width: 250px;
	height: 250px;
}

#footLogo {
	display: block;
}

.author {
	border: 1px solid white;
}

.copyright {
	font-size: larger;
}